<nav
data-th-fragment="pagination"
aria-label="Page navigation example">
    <ul
    data-th-object="${pageContacts}"
    class="inline-flex -space-x-px text-base h-10">
      <li data-th-unless="${pageContacts.isFirst()}">
        <a
        data-th-href="@{'/user/contacts?page=' + ${pageContacts.getNumber()-1}}"
        class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
            Previous
        </a>
      </li>
      <!-- ---------------Page Numbers------------------------------- -->
      <li
      data-th-each="i: ${#numbers.sequence(0,pageContacts.getTotalPages()-1)}">
        <a
        data-th-href="@{'/user/contacts?page=' + ${i}}"
        data-th-classappend="${i==pageContacts.getNumber() ? 'bg-blue-200 dark:bg-gray-600' : 'bg-white dark:bg-gray-800' }"
        class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
            <span data-th-text="${i+1}"></span>
        </a>
      </li>
      <!-- --------------------------------------------------- -->
      <li
      data-th-unless="${pageContacts.isLast()}">
        <a
        data-th-href="@{'/user/contacts?page=' + ${pageContacts.getNumber()+1}}"
        class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
            Next
        </a>
      </li>
      <!-- --------------------------------------------------------------------------- -->
    </ul>
  </nav>