<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>Search Contacts</title>
</head>
<body>
    <div id="content">
        <div data-th-if="${loggedInUser}">
            <!-- <div data-th-replace="~{user/side_nav::nav}"></div> -->
            <div data-th-replace="~{user/side_nav::side}"></div>
        </div>

        <div class="sm:pl-64">

            <!-- Alert Message Here -->
            <div data-th-replace="~{message::messagebox}"></div>

            <!-- searched contacts -->
            <div data-th-replace="~{user/search_fragments/searchedContacts::searchedContacts}">
                
            </div>

            <!-- Contact Model -->
            <div class="p-3">
                <div data-th-replace="~{user/contact_fragments/contactModal::contact}"></div>
            </div>

            <!-- Delete Modal -->
            <div data-th-replace="~{user/contacts/delete::delete_modal}"> </div>

        </div>
    </div>
    <script>
        console.log("Searched Contacts")
    </script>
    
    <script data-th-src="@{'/JS/contacts.js'}"></script>
    <script data-th-src="@{'/JS/delete.js'}"></script>
</body>
</html>