<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>All Contacts</title>
</head>
<body>
    <div id="content">
        <div data-th-if="${loggedInUser}">
            <!-- Side Bar -->
            <!-- <div data-th-replace="~{user/side_nav::nav}"></div> -->
            <div data-th-replace="~{user/side_nav::side}"></div>
        </div>
        <div class="sm:pl-64">

            <!-- All Contacts -->
            <div data-th-replace="~{user/contact_fragments/allContacts::contactList}">
            </div>

            <!-- Contact Model -->
            <div class="p-3">
                <div data-th-replace="~{user/contact_fragments/contactModal::contact}"></div>
            </div>

            <!-- Delete Modal -->

            <div data-th-replace="~{user/contacts/delete::delete_modal}"> </div>

        </div>
    </div>
    <script>
        console.log("All Contacts")
    </script>

    <script data-th-src="@{'/JS/contacts.js'}"></script>
    <script data-th-src="@{'/JS/delete.js'}"></script>
    
</body>
</html>