<div
data-th-fragment="searchedContacts">

    <!-- Search Form -->  
    <div class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">  
        <form data-th-replace="~{user/contact_fragments/searchForm::searchForm}"></form>
    </div>

    <!-- Searched Contacts -->
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">Name</th>
                <th scope="col" class="px-6 py-3">Contact Number</th>
                <th scope="col" class="px-6 py-3">Social Links</th>
                <th scope="cerfsbc wvd4ht56jfygh7ukjl8iṁol" class="px-6 py-3">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr
            data-th-each="c: ${pageContacts.getContent()}"
            data-th-object="${c}"
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">

                <!-- Image, Name, Email -->

                <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                    <!-- Image -->
                    <img class="w-10 h-10 rounded-full"
                    data-th-src="*{picture}"
                    onerror="this.src='/Images/defaultProfile.jpg';"
                    alt="Jese image">
                    <!-- Name, Email -->
                    <div class="ps-3">
                        <!-- Name -->
                        <div class="text-base font-semibold" data-th-text="*{name}">

                        </div>
                        <!-- Email -->
                        <div class="font-normal text-gray-500" data-th-text="*{email}">

                        </div>
                    </div>  
                </th>

                <!-- Phone Number -->
                <td class="px-6 py-4">

                    <div class="flex space-x-2">
                        <div>
                            <i class="fa-solid fa-phone"></i>
                        </div>
                        <span data-th-text="*{phoneNumber}"></span>
                    </div>
                    
                </td>

                <!-- Favorite, Website and LinkedIn link -->
                <td class="px-6 py-4">
                    <div class="flex items-center">
                        <!-- Is Favorite -->
                        <div
                        data-th-if="*{favorite}"
                        class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div>

                        <div
                        data-th-unless="*{favorite}"
                        class="h-2.5 w-2.5 rounded-full bg-gray-500 me-2"></div>


                        <!-- Website Link -->
                        <a
                        class="me-2"
                        data-th-href="*{websiteLink}" target="_blank">
                        
                            <i class="fa-solid fa-link"></i>
                        </a>

                        <!-- LinkedInLink -->
                        <a
                        data-th-href="*{linkedInLink}" target="_blank">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </div>
                </td>

                <!-- Delete, Edit, View -->
                <td class="px-6 py-4">
                    <div class="space-x-2">
                        <!-- Delete -->
                        <button data-th-onclick="showDeleteModal([[${c.id}]])"> <i class="fa-solid fa-trash"></i> </button>

                        <!-- Edit -->
                        <a href=""> <i class="fa-solid fa-user-pen"></i> </a>

                        <!-- View -->
                        <button data-th-onclick="showContact([[${c}]])"> <i class="fa-solid fa-eye"></i> </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <div 
    data-th-if="${pageContacts.getTotalPages()}>1"
    class="p-5 text-center bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
        <div data-th-replace="~{user/search_fragments/pagination::pagination}">  </div>
    </div>
</div>