<div th:fragment = "parent">

    <h1>This is parent fragment with no parameters</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, nihil.</p>

</div>

<div th:fragment = "parent_var(x,y)">

    <h1>This is parent fragment for variable as parameter</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, nihil.</p>
    <h1>value of x is <span th:text = ${x}></span></h1>
    <h1>value of y is <span th:text = ${y}></span></h1>

</div>

<div th:fragment = "parent_markup(content)">

    <h1>This is parent fragment for markup as parameter</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, nihil.</p>
    <div th:replace = "${content}"></div>
</div>

<div th:fragment = "test">
    
    <h1>This is test fragment with no parameters</h1>

</div>