<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />
</head>
<body>
    <div class = "bg-gray-200 w-1/2 p-4 flex flex-col space-y-3 mx-auto mt-4 justify-center items-center">

        <h1 class="text-2xl font-bold"data-th-text = ${name}>
            Welcome to home page
        </h1>
        <p class="text-xl text-gray-700">
            YouTubeChannel : <span data-th-text=${YouTubeChannel}></span>
        </p>
        <a data-th-href = ${githubLink}>Click here to open github</a>
        
        <p class="text-gray-600">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor reiciendis cupiditate nam velit autem! Repellat temporibus, ea, labore sequi perferendis voluptatum molestias accusamus in accusantium id, quibusdam tempora culpa officiis!
        </p>
        <div>
            <button class="px-3 py-3 rounded bg-blue-700 text-white hover:bg-slate-600">
                Click Here
            </button>
        </div>
    </div>
</body>
</html>